body {
    padding: 0;
    margin: 0;
}

.header,
.footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    min-height: 50px;
    background-color: rgb(180, 180, 180);
}
.NavLink a{
    margin: 1rem;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}
.loginForm{
    margin: 20% auto;
    width: 200px;
    height:200px;
    padding: 10px;
    background-color: rgba(207, 207, 207, 0.794);
    display: flex;
    flex-flow: column nowrap;
}
.selected{
    transform: scale(1.2);
    color: red;
}
.Login{
    margin-left: auto;
    padding: 0.5rem;
    background-color: rgb(170, 167, 167);
}
.cardNew{
    text-align: center;
    padding: 5px;
    margin: 5px;
    flex: 1;
    border: 1px solid grey;

}
.countNews{
    position: absolute;
    bottom: -35px;
    right: 10px;
}